<header class="header">
    <div class="logo">Angular Concepts</div>
    <nav class="nav">
        <div class="dropdown" appClickOutside (clickOutside)="closeDropdown()">
            <button class="dropdown-toggle" (click)="toggleDropdown()">
                Implementations ▼
            </button>
            @if (isDropdownOpen) {
            <div class="dropdown-menu">
                <a routerLink="/custom-directives" class="dropdown-item" (click)="closeDropdown()">Custom Directives</a>
                <a routerLink="/custom-pipes" class="dropdown-item" (click)="closeDropdown()">Custom Pipes</a>
                <a routerLink="/unit-testing" class="dropdown-item" (click)="closeDropdown()">Unit testing</a>
                <a routerLink="/rxjs-implementation" class="dropdown-item" (click)="closeDropdown()">RxJS
                    Implementation</a>
            </div>
            }
        </div>
    </nav>
</header>