<app-header></app-header>

<router-outlet></router-outlet>

<!-- <h3>Input Directive - <code>noSpecialCharacter</code></h3>
<input type="text" noSpecialCharacter placeholder="Type here - only letters, numbers, and spaces allowed">

<h3>Custom Input Directive - <code>noSpecialCharacter</code></h3>

<p>Try typing special characters in the input box below:</p>
<input type="text" noSpecialCharacter placeholder="No special characters allowed">

<h3>Custom Pipe - <code>mask</code></h3>
<p>Original Text: {{ 'SensitiveInformation123!' }}</p>
<p>Masked Text (first 10 chars): {{ 'SensitiveInformation123!' | mask:10 }}</p>
<p>Masked Text (first 5 chars with #): {{ 'SensitiveInformation123!' | mask:5:'#' }}</p> -->